body {
    display: block;
}

body>header {
    display: none;
}

body>footer {
    display: none;
}

body>main {
    padding: 0px;
}

table.resumé>tbody>tr>td:first-child {
    white-space: normal;
    padding-right: 15px;
}
