{{- define "header" -}}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Sylvain Rabot :: Curriculum Vitae :: Architecte Syst&egrave;mes et R&eacute;seaux</title>
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="/static/css/light.css">
        <link rel="stylesheet" type="text/css" href="/static/css/light_print.css" media="print">
        <meta name="author" content="Sylvain Rabot">
        <meta name="description" lang="en" content="Sylvain Rabot's personal web page. Contact information, resum&eacute; and more.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{- if .GoModule }}
        <meta name="go-import" content="{{ .GoModule.Name }} {{ .GoModule.Import }}">
        <meta name="go-source" content="{{ .GoModule.Name }} {{ .GoModule.Source }}">
        {{- end }}
        <script src="https://kit.fontawesome.com/252670e6f0.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- NAV BAR -->
        <header>
            <a href="/"><img src="/static/images/abstraction-fr-transparent.png" alt=""></a>
        </header>
{{ end -}}
