{{- define "lookingglass" }}
{{- template "header" }}
{{- template "lookingglasscontent" . }}
{{- template "footer" }}
{{- end -}}

{{- define "lookingglasscontent" }}
        <main>
            <h2>Headers</h2>
            <table class="looking-glass">
                <thead>
                    <tr class="h">
                        <th colspan="2">{{ .Method | html }} {{ .RequestURI | html }} {{ .Proto | html }}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td class="e">Host</td>
                        <td class="v">{{ .URL.Host | html }}</td>
                    </tr>
                    <tr>
                        <td class="e">Remote Addr</td>
                        <td class="v">{{ .RemoteAddr | html }}</td>
                    </tr>
                {{- if .TransferEncoding }}
                {{- $len := .TransferEncoding | len }}
                {{- range $i, $value := .TransferEncoding }}
                    <tr>
                        {{- if eq $i 0 }}
                        <td class="e" rowspan="{{ $len }}">Transfert Encoding</td>
                        {{- end }}
                        <td class="v">{{ $value | html }}</td>
                    </tr>
                {{- end }}
                {{- end }}
                {{- range $header, $values := .Header }}
                {{- $len := $values | len }}
                {{- range $i, $value := $values }}
                    <tr>
                        {{- if eq $i 0 }}
                        <td class="e"{{ if gt $len 1 }} rowspan="{{ $len }}"{{ end }}>{{ $header | html }}</td>
                        {{- end }}
                        <td class="v">{{ $value | html }}</td>
                    </tr>
                {{- end }}
                {{- end }}
                </tbody>
            </table>
        </main>
{{- end -}}
