
{{- /*

    /!\ LICENSE WARNING - COPYRIGHT Sylvain Rabot
    /!\
    /!\ The intellectual content of this file remains my property and can not be
    /!\ used nor published unless it is entirely rewritten so that, I, Sylvain Rabot,
    /!\ can't be identified any longer by name, address, general description or
    /!\ accomplishments.
    /!\
    /!\ The HTML / CSS / Templating code is however open source like the rest of
    /!\ the project.

*/ -}}

{{- define "resume" -}}
{{- template "header" -}}
{{- template "resume-content" . -}}
{{- template "footer" }}
{{- end -}}

{{- define "resume-content" }}
        <main class="resumé">
            <h1>Sylvain Rabot</h1>
            <p>
                33700 M&eacute;rignac<br>
                FRANCE
            </p>
            <p>
                <span class="fas fa-birthday-cake" aria-hidden="true"></span> N&eacute; le 03/04/1987<br>
                <span class="fas fa-car" aria-hidden="true"></span> Titulaire du permis de conduire<br>
                <span class="fas fa-ship" aria-hidden="true"></span> Titulaire du permis mer c&ocirc;tier<br>
                <span class="fas fa-fighter-jet" aria-hidden="true"></span> Titulaire d'une license de pilote priv&eacute; (<abbr title="Private Pilot License">PPL</abbr> classe <abbr title="Single Engine Piston">SEP</abbr>)
            </p>

            <h2 id="contact"><a href="#contact">Contact</a></h2>
            <div>
                <div>
                <span class="fas fa-envelope-square" aria-hidden="true"></span>
                <strong>E-Mail:</strong>
                <script>
                function hivelogic_enkoder(){var kode=
                "kode=\"nrgh@%qujkC(txmnF+\\001Fnmxtb6662l1nmxL{jqLvx{o7pwr{}\\\\F4\\001DA;"+
                ":F4l29El1orD<62r1}JnmxL{jql7nmxtFl_334244rDq}pwnu7nmxtErD9Fr1{xoD00F\\001D"+
                "e+5334zu{v:54q\\177~q_4::q~:5334\\000ux|\\177:qp{wIqp{wG.w{pqI.h5334zu{v:5"+
                "4q\\177~q_4::q~:5334\\000ux|\\177:qp{wIqp{wGhh.hp{o\\001yqz\\000:_333~u\\0"+
                "00q4hh.hhhhhHm,t~qrIhhhhhhhhhh.hhhhhymux\\000{F\\177b7==x_4::muzLmn\\177\\"+
                "000~mo\\000u{z:r~hhhhhhhhhh.hhhhh,\\000u\\000xqIhhhhhhhhhh.hhhhhY{z,mp~q\\"+
                "177\\177q,qymuxhhhhhhhhhh.hhhhhJ\\177b7==x_4::muzgm\\000imn\\177\\000~mo\\"+
                "000u{z:r~H;mJhh.hhhhh5Ghh.hIqp{w.hGw{pqIw{pq:\\177|xu\\0004335:~q_4::q~\\1"+
                "77q45:v{uz4335.Iqp{we+Fnmxt+DtxmnFtxmn7|yur}10027{n\\177n{|n127sxrw1002(A~"+
                "C--Alux.oC6AoBqujk4rktmznAo11/\\001iCqujk4ingxIujkGz.o/39Aol.iB6/i1C78>A~1"+
                "CYzxotm4lxusIngxIujk.i/_333qujkC~%>{@**>iru+l@3>l?nrgh1ohqjwk>l..,~f@nrgh1"+
                "fkduFrghDw+l,06>li+f?3,f.@45;>{.@Vwulqj1iurpFkduFrgh+f,\\000nrgh@{\";x='';"+
                "for(i=0;i<kode.length;i++){c=kode.charCodeAt(i)-3;if(c<0)c+=128;x+=String."+
                "fromCharCode(c)}kode=x"
                ;var i,c,x;while(eval(kode));}hivelogic_enkoder();
                </script>
                </div>
                <div><span class="fas fa-lock" aria-hidden="true"></span> <strong>PGP:</strong> <a href="https://keyserver.ubuntu.com/pks/lookup?search=0x13d27dfb503a8d91&amp;fingerprint=on&amp;op=index">0x13d27dfb503a8d91</a></div>
                <div><span class="fab fa-github-square" aria-hidden="true"></span> <strong>GitHub:</strong> <a href="https://github.com/sylr">https://github.com/sylr</a></div>
            </div>

            <h2 id="specialty"><a href="#specialty">Sp&eacute;cialisations</a></h2>
            <p>
                <span class="fas fa-cloud" aria-hidden="true"></span> Architecture Cloud / <a href="https://kubernetes.io">Kubernetes</a><br>
                <span class="fas fa-network-wired" aria-hidden="true"></span> Architecture Syst&egrave;mes et R&eacute;seaux
            </p>

            <h2 id="professional-experience"><a href="#professional-experience">Exp&eacute;riences Professionnelles</a></h2>
            <table class="resumé">
                <tr>
                    <td>2021 - ...</td>
                    <td>
                        <div>
                            <strong><a href="https://www.betclic.fr/">Betclic</a>: <abbr title="Site Reliability Engineer">SRE</abbr> S&eacute;nior</strong>
                        </div>
                        <ul>
                            <li>Mise en place d'une architecture AWS pour h&eacute;berger des clusters kubernetes.</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>2017 - 2021</td>
                    <td>
                        <div>
                            <strong><a href="https://www.lectra.com/">Lectra</a>: Ing&eacute;nieur Syst&egrave;mes Cloud</strong>
                        </div>
                        <p>
                            &Eacute;quipe <code>Production / Op&eacute;rations</code> responsable de la mise en place, la
                            gestion et la maintenance d’une architecture &quot;Cloud&quot; bas&eacute;e sur Microsoft Azure dans
                            le cadre de la transformation de l’offre logicielle de type &quot;clients lourds&quot; de la soci&eacute;t&eacute;
                            vers une offre &quot;clients l&eacute;gers&quot; h&eacute;berg&eacute;e dans le cloud.
                        </p>
                        <ul>
                            <li>Mise en place / gestion d'une architecture &quot;Cloud&quot; bas&eacute;e sur Azure</li>
                            <li>Mise en place / gestion de clusters Kubernetes</li>
                            <li>Mise en place / gestion des services de monitoring et supervision</li>
                            <li>Mise en place / gestion d’un cluster Splunk pour la gestion des logs</li>
                            <li>Support des &eacute;quipes de R&amp;D</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>2011 - 2016</td>
                    <td>
                        <div>
                            <strong><a href="https://www.f-secure.com/">F-Secure</a>: Architecte Syst&egrave;mes et R&eacute;seaux</strong>
                        </div>
                        <p>
                            &Eacute;quipe <code>Hosting</code>, division <code>Storage and Digital Content</code><br>
                            Interventions sur environnements de production Clients : Orange, British Telecom, VirginMedia, SFR.
                        </p>
                        <ul>
                            <li>Dimensionements et d&eacute;ploiements initiaux des plateformes</li>
                            <li>D&eacute;ploiements de la couche de virtualisation</li>
                            <li>Deploiements des OS et des applicatifs</li>
                            <li>Tests de charge et de haute disponibilit&eacute;</li>
                            <li>Ajouts de nouveaux &eacute;quipements li&eacute;s à l'augmentation de capacit&eacute;</li>
                            <li>Maintenances journali&egrave;res</li>
                            <li>Astreintes niveau 2 et 3</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>2007 - 2010</td>
                    <td>
                        <div>
                            <strong><a href="https://www.f-secure.com/">F-Secure</a>: Ing&eacute;nieur solution</strong>
                        </div>
                        <p>
                            &Eacute;quipe <code>Professional Services</code>, division <code>Storage and Digital Content</code>.<br>
                            Projets des op&eacute;rateurs t&eacute;l&eacute;coms : Orange, SFR, Singtel, La Poste
                        </p>
                        <ul>
                            <li>D&eacute;veloppement du backend de la solution (PHP + PostgreSQL)</li>
                            <li>D&eacute;veloppement des interfaces SSO backend-to-backend avec les clients</li>
                        </ul>
                    </td>
                </tr>
            </table>

            <h2 id="open-source"><a href="#open-source">Open source</a></h2>
            <table class="resumé">
                <tr>
                    <td><a href="https://github.com/sylr/prometheus-azure-exporter"><strong>prometheus-azure-exporter</strong></a></td>
                    <td>D&eacute;mon &eacute;crit en Go qui g&eacute;n&egrave;re des m&eacute;triques pour certains composants Azure et qui les expose au format Prometheus.</td>
                </tr>
                <tr>
                    <td><a href="https://github.com/sylr/yage"><strong>yage</strong></a></td>
                    <td>Fork de <a href="https://github.com/FiloSottile/age"><abbr title="Actually Good Encryption">AGE</abbr></a> qui permet de chiffrer/d&eacute;chiffrer &agrave; l'int&eacute;rieur de fichiers YAML.</td>
                </tr>
                <tr>
                    <td><a href="https://github.com/sylr/go-yaml-age"><strong>go-yaml-age</strong></a></td>
                    <td>Librairie Go qui impl&eacute;mente un wrapper qui permet de chiffrer/d&eacute;chiffrer avec AGE des valeurs à l'intérieur de fichiers YAML.</td>
                </tr>
                <tr>
                    <td><a href="https://github.com/sylr/go-libqd"><strong>go-libqd</strong></a></td>
                    <td>Librairie Go qui impl&eacute;mente quelques outils pour un d&eacute;veloppement simplifi&eacute;.</td>
                </tr>
                <tr>
                    <td>
                        <a href="https://github.com/fluxcd/flux2"><strong>Flux</strong></a>,
                        <a href="https://github.com/prometheus/prometheus"><strong>Prometheus</strong></a>,
                        <a href="https://github.com/thanos-io/thanos"><strong>Thanos</strong></a>,
                        <a href="https://github.com/traefik/traefik"><strong>Traefik</strong></a>
                    </td>
                    <td>Contributions variées dans le but de répondre &agrave; des besoins d'entreprise.</td>
                </tr>
            </table>

            <h2 id="tech-skills"><a href="#tech-skills">Aptitudes Techniques</a></h2>
            <p class="highlight">
                ✋ Toutes les comp&eacute;tences list&eacute;es ci-dessous sont fortement acquises et issues d'une utilisation <strong>r&eacute;guli&egrave;re &amp; récente</strong>.
            </p>
            <table class="resumé">
                <tr>
                    <td>Programmation</td>
                    <td><a href="https://golang.org">Go</a></td>
                </tr>
                <tr>
                    <td>Scripting</td>
                    <td>Bash / Zsh, Powershell, Python</td>
                </tr>
                <tr>
                    <td>Syst&egrave;mes d'exploitation</td>
                    <td>Linux</td>
                </tr>
                <tr>
                    <td>Cloud Providers</td>
                    <td>Azure, AWS</td>
                </tr>
                <tr>
                    <td>Int&eacute;gration &amp; d&eacute;ploiement continu</td>
                    <td>GitHub, GitLab, Jenkins, CircleCI, Travis</td>
                </tr>
                <tr>
                    <td>Reverse Proxy</td>
                    <td>
                        <a href="https://www.nginx.com/">NGINX</a>,
                        <a href="https://traefik.io/">Traefik</a>,
                        <a href="https://pomerium.io/">Pomerium</a>
                    </td>
                </tr>
                <tr>
                    <td>Kubernetes Ecosyst&egrave;me</td>
                    <td>
                        <a href="https://fluxcd.io/">Flux</a>,
                        <a href="https://kustomize.io/">Kustomize</a>,
                        <a href="https://helm.sh/">Helm</a>,
                        <a href="https://github.com/kubernetes/autoscaler">Cluster Autoscaler</a>,
                        <a href="https://github.com/kubernetes-sigs/external-dns">External DNS</a>,
                        <a href="https://github.com/open-policy-agent/gatekeeper"><abbr title="Open Policy Agent">OPA</abbr> Gatekeeper</a>
                    </td>
                </tr>
                <tr>
                    <td>Infrastructure as Code</td>
                    <td>
                        <a href="https://www.terraform.io/">Terraform</a> / <a href="https://terragrunt.gruntwork.io/">Terragrunt</a>,
                        <a href="https://www.ansible.com/">Ansible</a>,
                        <a href="https://www.fabfile.org/">Fabric</a>
                    </td>
                </tr>
                <tr>
                    <td>Monitoring</td>
                    <td>
                        <a href="https://prometheus.io/">Prometheus</a>,
                        <a href="https://grafana.com/">Grafana</a>,
                        <a href="https://thanos.io/">Thanos</a>,
                        <a href="https://www.splunk.com/">Splunk</a>
                    </td>
                </tr>
                <tr>
                    <td>Divers</td>
                    <td>
                        <a href="https://git-scm.com/">Git</a>,
                        <a href="https://www.gnu.org/software/make/">Make</a>,
                        <a href="https://stedolan.github.io/jq/">jq</a>
                    </td>
                </tr>
            </table>

            <h2 id="studies"><a href="#studies">&Eacute;tudes</a></h2>
            <table class="resumé">
                <tr>
                    <td>Avril 2018</td>
                    <td>Obtention du TOEIC, note : 990 sur 1000</td>
                </tr>
                <tr>
                    <td>Septembre 2015</td>
                    <td>Obtention certification ITIL Foundation V3</td>
                </tr>
                <tr>
                    <td>D&eacute;cembre 2009</td>
                    <td>Obtention du TOEIC, note : 935 sur 990</td>
                </tr>
                <tr>
                    <td>2007 - 2010</td>
                    <td>
                        Cursus Ing&eacute;nieur Informatique<br>
                        <ul>
                            <li>Supinfo - 33000 BORDEAUX, FRANCE</li>
                            <li>Supinfo - 94133 SAN FRANCISCO, CA, USA</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>2005 - 2007</td>
                    <td>
                        Obtention du DUT Informatique<br>
                        IUT de Bayonne - 64100 BAYONNE
                    </td>
                </tr>
                <tr>
                    <td>2004 - 2005</td>
                    <td>
                        Terminale Scientifique option Sciences Physique<br>
                        Obtention du Baccalaur&eacute;at G&eacute;n&eacute;ral s&eacute;rie S<br>
                        Lyc&eacute;e Sud M&eacute;doc - 33320 LE TAILLAN MEDOC
                    </td>
                </tr>
            </table>
        </main>
{{- end -}}
